.container.p-h-xl
  .col-md-6.col-md-offset-3
    %h1= t('views.defaults.sign_in')
    .m-t-lg
      = link_to "/auth/facebook", class: "btn btn-facebook btn-block" do
        = fa_icon 'facebook', class: "fa-fw"
        = t('views.defaults.sign_in_with_facebook')
    .m-h
      .text-center OR
    = form_for(:session, url: login_path) do |f|
      .form-group
        = f.label :email
        = f.email_field :email, placeholder: "wantedly@test.com", class: 'form-control'
      .form-group
        = f.label :password
        = f.password_field :password, placeholder: "11111111", class: 'form-control'
      = f.submit 'Done', class: "btn btn-primary btn-block"
